.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper.fixed {
  z-index: 1;
}
.container {
  padding: 0 20px;
}

.brightness {
  position: fixed;
  background-color: #00000054;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.brightness.active {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.5s;
}

.header__body {
  margin: 20px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
}
.header__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__back-button img {
  transform: rotate(180deg);
}
.account-info__body {
  background: rgba(255, 214, 102, 1);
  border-radius: 16px;
  padding: 20px;
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.account-info__name {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.account-info__phone {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.delivery-address__body {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.delivery-address__title {
  font-family: "Cera Round Pro";

  font-size: 20px;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.delivery-address__address-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.delivery-address__address-details {
  font-family: var(--font-family);
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: var(--greytext);
}

.delivery-selection__option-address {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.delivery-address__address-input {
  display: flex;
  gap: 20px;
}

.delivery-address__address-input input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}
.delivery-address__comment-textarea {
  border: 1px solid var(--greysticks);
  border-radius: 6px;
  padding: 14px 16px;
  height: 48px;
  width: 100%;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.delivery-address__comment-textarea:focus {
  outline: none;
}
.delivery-address__comment-textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--greytext);
}

.delivery-address__address-input input::placeholder {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.pickup__body {
  border-radius: 16px;
  position: relative;
  padding: 20px;
  width: 100%;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.pickup__title {
  font-family: "Cera Round Pro";
  font-size: 20px;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.pickup__address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.pickup__details {
  font-family: var(--font-family);
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: var(--greytext);
}
textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.wishes__body {
  background: var(--greybg);
  border-radius: 16px;
  padding: 20px;
}

.wishes__title {
  display: block;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 16px;
}

.wishes__textarea {
  border: 1px solid var(--greysticks);
  border-radius: 6px;
  padding: 14px 16px;
  height: 48px;
  width: 100%;
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.wishes__textarea:focus {
  outline: none;
}
.wishes__textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--greytext);
}

.delivery-time__body {
  background: var(--greybg);
  border-radius: 16px;
  padding: 20px;
  position: relative;
}

.delivery-time__title {
  display: block;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-bottom: 16px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.delivery-time__body img {
  position: absolute;
  right: 40px;
  top: 80px;
  transform: rotate(90deg);
}

.delivery-time__list {
  background: var(--white);
  border: 1px solid var(--greysticks);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
  height: 48px;
}
.delivery-time__list option {
  background: var(--white);
  border: 1px solid var(--greysticks);
  border-radius: 6px;
  /* width: 100%; */
  height: 48px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.pay-type {
  width: 100%;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
}

.pay-type__body {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  padding: 20px;
  width: 100%;
  background: var(--greybg);
}

.pay-type__title {
  display: block;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.pay-type__option-label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.pay-type__option-radio {
  display: flex;
  position: relative;
}
.pay-type__option-input {
  display: none;
}
.pay-type__option {
  position: relative;
  width: 100%;
}
.pay-type__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.pay-type__options {
  margin-top: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pay-type__option-input:checked + .pay-type__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}

.order-btn__body {
  background: var(--duck);
  border-radius: 101px;
  padding: 12px 57px;
  height: 48px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.order-btn__text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--black);
}

.order-btn__price {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
