.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper.fixed {
  z-index: 1;
}
.container {
  padding: 0 20px;
}

.brightness {
  position: fixed;
  background-color: #00000054;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.brightness.active {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.5s;
}
.side-bar {
  width: 79%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  visibility: hidden;
}

.side-bar.active {
  visibility: visible;
  left: 0;
  transition: all 0.5s;
}
.side-bar__menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: none;
  background-color: rgba(192, 192, 192, 1);
  position: fixed;
  right: 20px;
  top: 20px;
}
.side-bar.active .side-bar__menu-button {
  z-index: 12;
  display: block;
  background-color: rgba(192, 192, 192, 1);
}
.side-bar__menu-button span::after,
.side-bar__menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}
.side-bar__menu-button span::before {
  transition: all 0.3s;
  transform: rotate(-45deg);
  top: 16px;
}
.side-bar__menu-button span::after {
  transition: all 0.3s;
  transform: rotate(45deg);
  bottom: 16px;
}
.side-bar__logo {
  display: block;
  width: 108px;
  height: 40px;
  margin-bottom: 20px;
}
.side-bar__body {
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 95%;
}

.login.logged-in img {
  margin-top: 3px;
}
.login img {
  width: 22px;
  height: 22px;
}

.login__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login__bonuses {
  border-radius: 30px;
  width: 60px;
  height: 26px;
  color: white;
  font-weight: 400;
  font-family: var(--second-family);
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-align: right;
  color: var(--white);
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.login__bonuses img {
  margin-top: 1px !important;
  width: 9px;
  height: 12px;
  color: white;
}
.login__login {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.login__desc {
  font-family: "Cera Pro", sans-serif;
  margin-left: px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.side-bar__order {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__order-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__order img {
  width: 22px;
  height: 22px;
}

.side-bar__my-addresses {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__my-addresses-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__my-addresses img {
  width: 22px;
  height: 22px;
}

.chat {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.chat img {
  display: inline;
  width: 22px;
  height: 22px;
}
.chat__text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}

.side-bar__city,
.side-bar__address,
.side-bar__contacts-link {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}

.side-bar__city,
.side-bar__address-info,
.side-bar__contacts {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  max-width: 95%;
}

.side-bar__address-label {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.header__body {
  margin: 20px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
}

.header__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__back-img {
  transform: rotate(180deg);
}
.menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}
.menu-button span::before {
  top: 13.5px;
}
.menu-button span::after {
  bottom: 13.5px;
}
.menu-button.open span::before {
  transform: rotate(-45deg);
  top: 16px;
}
.menu-button.open span::after {
  transform: rotate(45deg);
  bottom: 16px;
}
.contact-us__body {
  display: flex;
  gap: 30px;
}
.contact-us__phone {
  color: #000000;
}
.contact-us__button {
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  background: var(--duck);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.contact-us__button-icon {
  height: 17px;
  width: 17px;
}
.contact-us__body span {
  font-family: var(--font-family);
  color: var(--black);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  display: block;
  text-align: center;
  width: 100%;
}

.toggle__body {
  border-radius: 70px;
  width: 100%;
  height: 36px;
  background: var(--greybg);
  display: flex;
  border: solid 2px var(--greybg);
}

.toggle__item {
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: all 0.3s;
  font-family: var(--second-family);

  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}

.toggle__item.active {
  transition: all 0.3s;
  background: var(--white);
}

.delivery {
  opacity: 0;
  transition: all 0.3s;

  display: none;
}
.delivery.active {
  opacity: 1;
  transition: all 0.3s;
  display: block;
}
.delivery__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.delivery__item {
  padding: 20px 0;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--greysticks);
}
.delivery__info li:last-child {
  border-bottom: none;
}

.delivery__item-icon {
  margin-top: 4px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.delivery__item-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
  font-family: var(--second-family);
}

.delivery__item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}

.pickup {
  display: none;
}
.pickup.active {
  display: block;
}
.pickup__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pickup__info li:last-child {
  border-bottom: none;
}
.pickup__item {
  padding: 20px 0;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--greysticks);
}

.pickup__item-icon {
  margin-top: 4px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.pickup__item-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
  font-family: var(--second-family);
  margin-bottom: 2px;
}

.pickup__item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
  margin-bottom: 12px;
}
.pickup__item-route {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--greytext);
  display: flex;
  align-items: center;
  gap: 2px;
}
