.wrapper {
  position: relative;
  width: 100%;
}
.wrapper.fixed {
  z-index: 1;
}
.container {
  padding: 0 20px;
}

.brightness {
  position: fixed;
  background-color: #00000054;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}
.brightness.active {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.1s;
}

/* header and sidebar*/
.header__body {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  width: 108px;
  display: block;
}
.menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.header__menu-button {
  display: none;
}
.header__menu-button.active {
  display: block;
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}

.menu-button span::before {
  top: 13.5px;
}
.menu-button span::after {
  bottom: 13.5px;
}

.menu-button.open span::before {
  transform: rotate(-45deg);
  top: 16px;
}
.menu-button.open span::after {
  transform: rotate(45deg);
  bottom: 16px;
}

/* cart */
.cart {
  position: fixed;
  bottom: 0;
  background: var(--greybg);
  border-radius: 16px 16px 0 0;
  display: none;
  width: 100%;
}

.cart.active {
  display: block;
}
.cart__body {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 120px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
}
.cart__address {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.cart__info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}
.cart__button {
  border-radius: 101px;
  padding: 12px 20px;
  width: 100%;
  height: 48px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: var(--duck);
}
.cart__button-text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--black);
}
.cart__button-value {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: var(--black);
  opacity: 0.4;
}
/* sidebar */

.side-bar {
  width: 79%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  visibility: hidden;
}

.side-bar.active {
  visibility: visible;
  left: 0;
  transition: all 0.5s;
}
.side-bar__menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: none;
  background-color: rgba(192, 192, 192, 1);
  position: fixed;
  right: 20px;
  top: 20px;
}
.side-bar.active .side-bar__menu-button {
  z-index: 12;
  display: block;
  background-color: rgba(192, 192, 192, 1);
}
.side-bar__menu-button span::after,
.side-bar__menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}
.side-bar__menu-button span::before {
  transition: all 0.3s;
  transform: rotate(-45deg);
  top: 16px;
}
.side-bar__menu-button span::after {
  transition: all 0.3s;
  transform: rotate(45deg);
  bottom: 16px;
}
.side-bar__logo {
  display: block;
  width: 108px;
  height: 40px;
  margin-bottom: 20px;
}
.side-bar__body {
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 95%;
}

.login.logged-in img {
  margin-top: 3px;
}
.login img {
  width: 22px;
  height: 22px;
}

.login__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login__bonuses {
  border-radius: 30px;
  width: 60px;
  height: 26px;
  color: white;
  font-weight: 400;
  font-family: var(--second-family);
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-align: right;
  color: var(--white);
  background: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.login__bonuses img {
  margin-top: 1px !important;
  width: 9px;
  height: 12px;
  color: white;
}
.login__login {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.login__desc {
  font-family: "Cera Pro", sans-serif;
  margin-left: px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.side-bar__order {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__order-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__order img {
  width: 22px;
  height: 22px;
}

.side-bar__my-addresses {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__my-addresses-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__my-addresses img {
  width: 22px;
  height: 22px;
}

.chat {
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.chat img {
  display: inline;
  width: 22px;
  height: 22px;
}
.chat__text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}

.side-bar__city,
.side-bar__address,
.side-bar__contacts-link {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}

.side-bar__city,
.side-bar__address-info,
.side-bar__contacts {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  max-width: 95%;
}

.side-bar__address-label {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
/* choose-city bar nav choose city */
.choose-city {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: -100%;
  transition: all 0.3s;
}

.choose-city.active {
  transition: all 0.3s;
  left: 0;
}
.choose-city__logo {
  margin-bottom: 20px;
}
.choose-city__body {
  padding: 20px 0 0 20px;
  width: 79%;
  height: 100%;
  background-color: white;
  border-radius: 0 16px 16px 0;
}

.spicy::before {
  content: "";
  background-image: "somepath";
  width: 30px;
  height: 30px;
}

.choose-city__nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.choose-city__title {
  padding: 10px 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.choose-city__item {
  padding: 10px 0px;
}

.choose-city__link {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}

/* stories */
.stories {
  display: flex;
  overflow-x: scroll;
  gap: 6px;
  padding-left: 20px;
  scrollbar-width: none;
}
.stories::-webkit-scrollbar {
  display: none;
}

.story {
  border: 2px solid transparent;
  height: 160px;
  width: 120px;
  flex: 0 0 auto;
  border-radius: 20px;
  position: relative;
}
.story.checked {
  border-radius: 20px;
  background: none;
  position: relative;
}
.story__link {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.story__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  width: 95px;
  color: white;
  position: absolute;
  bottom: 13px;
  left: 11px;
  font-family: "Cera Pro", sans-serif;
}

.story__image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.story__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}

/* Categories */
.categories {
  display: flex;
  gap: 8px;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: white;
  padding: 10px 0 10px 20px;
}
.categories.hidden {
  z-index: -1;
}
.categories2 {
  display: flex;
  gap: 8px;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: white;
  padding: 10px 0 10px 20px;
}
.categories2.hidden {
  display: none;
}

.categories__menu-button {
  width: 36px;
  transition: all 0.3s;
}
.categories__list {
  overflow-x: scroll;
  display: flex;
  gap: 8px;
  scrollbar-width: none;
}
.categories__list::-webkit-scrollbar {
  display: none;
}

.categories__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px 16px;
}

.categories__link {
  display: block;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
  white-space: nowrap;
}

.categories__item.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.products {
  width: 100%;
}

/* sushi and wok blocks */

.product {
  display: flex;
  position: relative;
  gap: 20px;
  width: 100%;
  padding: 21px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.products__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 20px 0 140px;
}
.products__offer-title {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
}
.products__offer-phone {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
}
.sushi__image {
  flex: 0 0 auto;
  position: relative;
  display: block;
  width: 172px;
  height: 136px;
}
.sushi__icon {
  display: none;
}

.sushi__icon.active {
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
}

.sushi__title {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 4px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}
.sushi__description {
  margin-bottom: 8px;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}
.sushi__price {
  border-radius: 101px;
  padding: 6px 16px 10px 16px;
  background-color: #ffdb6c;
  display: inline-block;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}
.wok__image {
  flex: 0 0 auto;
  position: relative;
  display: block;
  width: 172px;
  height: 136px;
}

.wok__icon {
  display: none;
}

.wok__icon.active {
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
}

.wok__title {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 4px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}
.wok__description {
  margin-bottom: 8px;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}
.wok__price {
  border-radius: 101px;
  padding: 6px 16px 10px 16px;
  background-color: #ffdb6c;
  display: inline-block;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

/* product-card */
.product-card {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  z-index: 12;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
  bottom: -100%;
  visibility: hidden;
}
.product-card.active {
  bottom: 0;
  visibility: visible;
  transition: all 0.5s;
}

.product-card__name {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.product-card__stick {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card__description {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.product-card__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 20px 20px 20px;
  background-color: white;
  width: 100vw;
}

.product-card__button {
  background: #ffdb6c;
  border-radius: 101px;
  padding: 12px 57px;
  width: 100%;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

.product-card__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
}

.product-card__option-radio {
  display: flex;
}
.product-card__option-label {
  display: flex;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.product-card__option.selected {
  background-color: #f0f0f0;
}
.product-card__option-input {
  display: none;
}
.product-card__option {
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px 12px 12px 16px;
  width: 100%;
}

.product-card__option-fake {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.product-card__option-input:checked + .product-card__option-fake::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}

.product-card__option .product-card__info {
  display: none;
}

.product-card__option.selected .product-card__info {
  display: block;
}

/* INFO BLOCK STYLES */

.info.active .info__body {
  display: block;
}

.info {
  position: relative;
}

.info__body {
  display: none;
  position: absolute;
  top: -60px;
  left: -250px;
  z-index: 13;
  padding: 10px 16px;
  border-radius: 8px;
  width: 240px;
  height: 140px;
  background-color: #000000;
}

.info__body::after {
  position: absolute;
  top: 50%;
  left: 97%;
  transform: rotate(225deg);
  content: "";
  width: 10px;
  height: 8.5px;
  background-image: url("../img/icons/arrow.svg");
}

.info__title {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.info__info {
  padding: 2px 0;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: right;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* INFO BLOCK STYLES */
/* cola card */
.product-card__info2 {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

/* address-menu */
.address-menu {
  padding-top: 8px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -100px;
  z-index: 11;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  visibility: visible;
  max-height: 1000px;
  transition: max-height 0.5s;
  background: var(--greybg);
}

.address-menu.opened .address-menu__body {
  padding: 12px 20px 110px 20px;
  transition: padding 0.3s;
}
.address-menu.hidden {
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
.address-menu__body {
  display: flex;
  flex-direction: column;
  transition: padding 0.3s;
  padding: 12px 20px 90px 20px;
  width: 100vw;
}
.address-menu__stick {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
.address-menu__info {
  margin-bottom: 20px;
}
.address-menu__title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}

.address-menu__description {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.address-menu__buttons {
  display: flex;
  visibility: visible;
  transition: all 0.3s;
  opacity: 1;
  gap: 10px;
}

.address-menu.opened .address-menu__buttons {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s;
}

.address-menu__open {
  background: #ffdb6c;
  border-radius: 101px;
  width: 100%;
  font-family: "Cera Round Pro";
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

.address-menu__login {
  border: 1px solid var(--greysticks);
  border-radius: 101px;
  padding: 10px 20px 10px 16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 107px;
  flex-shrink: 0;
}
.address-menu__login-img {
  pointer-events: none;
}
.address-menu__login-text {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
  pointer-events: none;
}
.address-menu__city {
  display: none;
  align-items: center;
  gap: 25px;
  border: 1px solid var(--greysticks);
  border-radius: 40px;
  padding: 10px 16px 10px 20px;
  width: 160px;
  height: 40px;
  margin-top: 20px;
}
.address-menu.opened .address-menu__city {
  display: flex;
}
.address-menu__city-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.address-menu__city-img {
  transform: rotate(90deg);
}
.address-menu__button {
  background: #ffdb6c;
  border-radius: 101px;
  padding: 12px 57px;
  width: 100%;
  font-family: "Cera Round Pro";
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  display: none;
}
.address-menu.opened .address-menu__button {
  display: block;
}

.address-menu__options {
  max-height: 0;
  visibility: hidden;
  margin-bottom: 20px;
}
.address-menu.opened .address-menu__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  max-height: 600px;
  visibility: visible;
}
.address-menu__option-label {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}
.address-menu__option-radio {
  display: flex;
}
.address-menu__option.selected {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  /* Здесь указываете цвет серого фона */
}

.address-menu__option-input {
  display: none;
}
.address-menu__option {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
}

.address-menu__address-input input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.address-menu__address-input input::placeholder {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.address-menu__house-inp {
  width: 91px !important;
}
.address-menu__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.address-menu__address-input {
  display: none;
}
.address-menu__option.selected {
  background-color: white;
}
.address-menu__option.selected .address-menu__address-input {
  display: flex;
  gap: 20px;
}

.address-menu__option-input:checked + .address-menu__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}

.address-menu__pickup-selection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
  height: 48px;
  display: none;
}

.address-menu__option.selected .address-menu__pickup-selection {
  display: block;
}

.address-menu__pickup-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.address-menu__pickup-text::after {
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  background-image: url("../img/icons/arrow2.svg");
}

.address-menu__address-selection {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
  display: none;
  flex-direction: column;
}

.address-menu__option.selected .address-menu__address-selection {
  display: flex;
}

.address-menu__address-selection::after {
  position: absolute;
  right: 20px;
  top: 26px;
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  background-image: url("../img/icons/arrow2.svg");
}

.address-menu__address {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}
.address-menu__address-additional {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}

/* orders */

.orders {
  position: fixed;
  overflow: hidden;
  bottom: 132px;
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
}
.orders::-webkit-scrollbar {
  display: none;
}
.orders__body {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 20px;
  width: 100%;
}
.order {
  background: var(--duck);
  display: flex;
  width: 82vw;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  transition: all 0.5s;
  border-radius: 16px;
  height: 64px;
  flex-shrink: 0;
  margin-right: 20px;
}
.order__info {
  display: flex;
  gap: 12px;
}
.order__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.order__number {
  font-family: var(--font-family);
  font-weight: 700;

  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.order__info-status {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.order__timer {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: -0.03em;
  text-align: right;
  color: var(--black);
}
.my-addresses {
  border-radius: 16px 16px 0 0;
  background-color: white;
  position: fixed;
  z-index: 19;
  left: 0;
  height: 100%;
  width: 100vw;
  visibility: hidden;
  top: 100%;
  transition: all 0.5s;
}

.my-addresses.active {
  visibility: visible;
  top: 0;
  transition: all 0.5s;
}
.my-addresses__header {
  margin: 20px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.my-addresses__title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
}

.my-addresses__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.my-addresses__back-button img {
  transform: rotate(180deg);
}

.my-addresses__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  width: 100%;
}
.my-addresses__option-address {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}
.my-addresses__option-radio {
  display: flex;
  position: relative;
}
.my-addresses__option-input {
  display: none;
}
.my-addresses__option {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
}
.my-addresses__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.my-addresses__option-input:checked + .my-addresses__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}

.my-addresses__option.selected {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.my-addresses__address-input {
  display: none;
}
.my-addresses__option.selected .my-addresses__address-input {
  display: flex;
  gap: 20px;
}
.my-addresses__address-input input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.my-addresses__address-input input::placeholder {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.my-addresses__choose {
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  background: var(--duck);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
  font-family: var(--second-family);
  display: none;
}

.my-addresses__option.selected {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.my-addresses__option.selected .my-addresses__choose {
  display: block;
}
.my-addresses__delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 15px;
  display: none;
}

.my-addresses__option.selected .my-addresses__delete {
  display: block;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.modal-menu.active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
  background-color: #00000054;
}
.modal-menu__body {
  width: 351px;
  height: 212px;
  border-radius: 16px;
  padding: 24px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--white);
}
.modal-menu__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--black);
}
.modal-menu__buttons {
  display: flex;
  gap: 11px;
  width: 100%;
}
.modal-menu__delete-button {
  background: var(--duck);
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.modal-menu__cancel-button {
  border: 1px solid var(--greysticks);
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  font-family: var(--second-family);

  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.pickup-selection {
  padding: 20px 0;
  background-color: white;
  position: fixed;
  z-index: 20;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  top: 100%;
  transition: all 0.5s;
}
.pickup-selection.active {
  visibility: visible;
  top: 0;
  transition: all 0.5s;
}
.pickup-selection__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pickup-selection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pickup-selection__title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}
.pickup-selection__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pickup-selection__back-button img {
  transform: rotate(180deg);
}
.pickup-selection__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  width: 100%;
}
.pickup-selection__option-label {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}
.pickup-selection__option-radio {
  display: flex;
  position: relative;
}
.pickup-selection__option-input {
  display: none;
}
.pickup-selection__option {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
}

.pickup-selection__option.selected {
  background-color: #f0f0f0;
}
.pickup-selection__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.pickup-selection__option-input:checked
  + .pickup-selection__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}
.pickup-selection__choose {
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  background: var(--duck);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
  font-family: var(--second-family);
  display: none;
}

.pickup-selection__option.selected .pickup-selection__choose {
  display: block;
}
