@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2"),
    url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url("../fonts/CeraRoundPro-Regular.woff2") format("woff2"),
    url("../fonts/CeraRoundPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url("../fonts/CeraRoundPro-Medium.woff2") format("woff2"),
    url("../fonts/CeraRoundPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2"),
    url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  position: relative;
}
.wrapper.fixed {
  /* overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
right: 0; */
  z-index: 1;
}
.container {
  padding: 0px 20px;
}

.bright80 {
  position: fixed;
  background-color: #00000054;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.bright80.active {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.5s;
}

/* header and sidebar*/
.header__body {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  width: 108px;
  display: block;
}
.menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.menu-button.open {
  background-color: rgba(192, 192, 192, 1);
  position: fixed;
  z-index: 12;
}
.menu-button.open {
  position: fixed;
  right: 20px;
  top: 20px;
}

.menu-button span::after,
.menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10.5px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}

.menu-button span::before {
  top: 13.5px;
}
.menu-button span::after {
  bottom: 13.5px;
}
.menu-button.open span::before {
  transform: rotate(-45deg);
  top: 16px;
}
.menu-button.open span::after {
  transform: rotate(45deg);
  bottom: 16px;
}

/* sidebar */

.side-bar {
  width: 79%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
}

.side-bar.hidden {
  left: -100%;
  transition: all 0.5s;
}
.side-bar {
  left: 0;
  transition: all 0.5s;
}
.side-bar__logo {
  margin-bottom: 20px;
}
.side-bar__body {
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.login.logged-in img {
  margin-top: 3px;
}
.login img {
  width: 22px;
  height: 22px;
}

.login__login {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.login__desc {
  font-family: "Cera Pro", sans-serif;
  margin-left: px;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.side-bar__order {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__order-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__order img {
  width: 22px;
  height: 22px;
}

.side-bar__my-addresses {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.side-bar__my-addresses-text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}
.side-bar__my-addresses img {
  width: 22px;
  height: 22px;
}

.chat {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  padding: 21px 0;
  max-width: 259px;
}
.chat img {
  display: inline;
  width: 22px;
  height: 22px;
}
.chat__text {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}

.side-bar__city,
.side-bar__address,
.side-bar__contacts-link {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}

.side-bar__city,
.side-bar__address-info,
.side-bar__contacts {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 259px;
}

.side-bar__address-label {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
/* choose-city bar nav choose city */
.choose-city {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
}
.choose-city.hidden {
  transition: all 0.5s;
  left: -100%;
}
.choose-city.active {
  transition: all 0.5s;
  left: 0;
}
.choose-city__logo {
  margin-bottom: 20px;
}
.choose-city__body {
  padding: 20px 0 0 20px;
  width: 79%;
  height: 100%;
  background-color: white;
  border-radius: 0 16px 16px 0;
}

.spicy::before {
  content: "";
  background-image: "somepath";
  width: 30px;
  height: 30px;
}

.choose-city__nav {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.choose-city__title {
  padding: 10px 0;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.choose-city__item {
  padding: 10px 0px;
}

.choose-city__link {
  font-family: "Cera Round Pro", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #000000;
}

/* stories */
.stories {
  display: flex;
  overflow-x: scroll;
  gap: 6px;
  padding-left: 20px;
  scrollbar-width: none;
}
.stories::-webkit-scrollbar {
  display: none;
}

.story {
  border: 2px solid transparent;
  height: 160px;
  width: 120px;
  flex: 0 0 auto;
  border-radius: 20px;
  position: relative;
}
.story.checked {
  border-radius: 20px;
  background: none;
  position: relative;
}
.story__link {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.story__label {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  width: 95px;
  color: white;
  position: absolute;
  bottom: 13px;
  left: 11px;
  font-family: "Cera Pro", sans-serif;
}

.story__image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.story__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(70%);
}

/* Categories */
.categories {
  display: flex;
  gap: 8px;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: white;
  padding: 10px 0 10px 20px;
}

.categories__menu-button {
  opacity: 0;
  width: 0;
  margin-right: -10px;
  transition: all 0.3s;
}

.categories__menu-button.active {
  opacity: 1;
  width: 36px;
  transition: all 0.3s;
  margin-right: 0px;
}
.categories__list {
  overflow-x: scroll;
  display: flex;
  gap: 8px;
  scrollbar-width: none;
}
.categories__list::-webkit-scrollbar {
  display: none;
}

.categories__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px 16px;
}

.categories__link {
  display: block;
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
  white-space: nowrap;
}

.categories__item.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.products {
  width: 100%;
}

/* sushi and wok blocks */

.product {
  display: flex;
  position: relative;
  width: 100%;
  padding: 21px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.products__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 20px 0 80px;
}
.products__offer-title {
  font-family: "Cera Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: center;
}
.products__offer-phone {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
}
.sushi__image {
  flex: 0 0 auto;
  position: relative;
  display: block;
  width: 172px;
  height: 136px;
}
.sushi__img {
  position: absolute;
  left: -19px;
  top: -9px;
  width: 100%;
}
.sushi__icon {
  display: none;
}

.sushi__icon.active {
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
}

.sushi__title {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 4px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}
.sushi__description {
  margin-bottom: 8px;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}
.sushi__price {
  border-radius: 101px;
  padding: 6px 16px 10px 16px;
  background-color: #ffdb6c;
  display: inline-block;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}
.wok__image {
  flex: 0 0 auto;
  position: relative;
  display: block;
  width: 172px;
  height: 136px;
}
.wok__img {
  position: absolute;
  left: -20px;
  width: 100%;
}
.wok__icon {
  display: none;
}

.wok__icon.active {
  display: block;
  position: absolute;
  top: -2px;
  left: 0px;
}

.wok__title {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 4px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: black;
}
.wok__description {
  margin-bottom: 8px;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}
.wok__price {
  border-radius: 101px;
  padding: 6px 16px 10px 16px;
  background-color: #ffdb6c;
  display: inline-block;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

/* cart button */
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  z-index: 9;
  bottom: 0;
  height: 56px;
  width: 100vw;
  border-radius: 16px 16px 0 0;
}
.cart__text {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: black;
}
.cart__value {
  font-family: "Cera Round Pro";

  font-weight: 400;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}
.cart.hidden {
  display: none;
}
.cart.empty {
  background-color: #f0f0f0;
}
.cart.filled {
  background-color: #ffdb6c;
}

/* product-card */
.product-card {
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  z-index: 12;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
}
.product-card.hidden {
  bottom: -200%;
  transition: all 0.5s;
}

.product-card__name {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: var(--black);
}
.product-card__stick {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card__description {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.product-card__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 20px 20px 20px;
  background-color: white;
  width: 100vw;
}

.product-card__button {
  background: #ffdb6c;
  border-radius: 101px;
  padding: 12px 57px;
  width: 100%;
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

.options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
}

.options__option {
  display: flex;
  justify-content: space-between;
}
.option__input {
  display: flex;
}
.options__option-label {
  display: flex;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}

.option.selected {
  background-color: #f0f0f0; /* Здесь указываете цвет серого фона */
}
.options__option-input {
  display: none;
}
.options__option {
  border-radius: 16px;
  display: flex;
  position: relative;
  padding: 12px 12px 12px 16px;
  width: 100%;
  /* height: 48px; */
}

.options__option-fake {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.options__option-input:checked + .options__option-fake::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}
.options__option-input:checked + .options__option {
  background-color: #ff0000;
}

.option__info {
  display: none;
}

.option.selected .option__info {
  display: block;
}

/* INFO BLOCK STYLES */

.info.active .info__body {
  display: block;
}

.info {
  position: relative;
}

.info__body {
  display: none;
  position: absolute;
  top: -60px;
  left: -250px;
  z-index: 13;
  padding: 10px 16px;
  border-radius: 8px;
  width: 240px;
  height: 140px;
  background-color: #000000;
}

.info__body::after {
  position: absolute;
  top: 50%;
  left: 97%;
  transform: rotate(225deg);
  content: "";
  width: 10px;
  height: 8.5px;
  background-image: url("../img/icons/arrow.svg");
}

.info__title {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: right;
  color: #999999;
}

.info__info {
  padding: 2px 0;
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  text-align: right;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* INFO BLOCK STYLES */
/* cola card */
.product-card__info2 {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

/* address-menu */
.address-menu {
  padding-top: 8px;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  z-index: 12;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
}
.address-menu.hidden {
  bottom: -200%;
  transition: all 0.5s;
}
.address-menu__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 20px 20px 20px;
  width: 100vw;
}
.address-menu__stick {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.address-menu__name {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  margin-bottom: 6px;
}

.address-menu__description {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.address-menu__button {
  background: #ffdb6c;
  border-radius: 101px;
  padding: 12px 57px;
  width: 100%;
  font-family: "Cera Round Pro";
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
}

.address-menu__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
}
.address-menu__option-label {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}
.address-menu__option-radio {
  display: flex;
}
.option.selected {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  /* Здесь указываете цвет серого фона */
}

.address-menu__option-input {
  display: none;
}
.address-menu__option {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
}

.address-menu__address-input input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.address-menu__address-input input::placeholder {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}

.address-menu__house-inp {
  width: 91px !important;
}
.address-menu__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.address-menu__address-input {
  display: none;
}
.address-menu__option.selected .address-menu__address-input {
  display: flex;
  gap: 20px;
}

.address-menu__option-input:checked + .address-menu__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}

.address-menu__pickup-selection {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
  /* height: 48px; */
  display: none;
}

.address-menu__option.selected .address-menu__pickup-selection {
  display: block;
}

.address-menu__pickup-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.address-menu__pickup-text::after {
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  background-image: url("../img/icons/arrow2.svg");
}

.address-menu__address-selection {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  width: 100%;
  display: none;
  flex-direction: column;
}

.address-menu__option.selected .address-menu__address-selection {
  display: flex;
}

.address-menu__address-selection::after {
  position: absolute;
  right: 20px;
  top: 26px;
  content: "";
  width: 6px;
  height: 11px;
  display: block;
  background-image: url("../img/icons/arrow2.svg");
}

.address-menu__address {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}
.address-menu__address-additional {
  font-family: "Cera Pro";

  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  color: #999999;
}
.address-menu__login-text {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-align: right;
  color: black;
}

/* order */

.order {
  padding-top: 8px;
  padding-bottom: 56px;
  background-color: #ffdb6c;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: -1000;
  /* z-index: 2; */
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
  touch-action: none;
}
.order__body {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 0px 20px;
  width: 100vw;
}

.order__stick {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order__info {
  display: flex;
  justify-content: space-between;
}

.order__info-status {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.order__info-icon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  transition: all 0.5s;
}
.order__info-icon.hidden {
  margin-right: 0px;
  width: 0;
  height: 0;
  transition: all 0.5s;
}
.order__number,
.order__status-text {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.order__timer {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: -0.03em;
  text-align: right;
}

.order__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.order__status-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}
.order__status-block img {
  transform: scale(0.82);
}

.order__status-block.active img {
  transform: scale(1);
}
.order__status-block.active {
  opacity: 1;
}
.order__map {
  margin-bottom: -10px;
}

.orders {
  position: relative;
}
.order__status-text {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  letter-spacing: -0.01em;
  text-align: center;
}

.order__button {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
}

.order__button span {
  font-family: "Cera Round Pro";
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: #000000;
}

.order__map.hidden {
  display: none;
}

.order__button.hidden {
  display: none;
}
.orders {
  display: flex;

  flex-direction: column;
}
.orders__wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.orders__wrapper.active {
  z-index: 2;
  pointer-events: initial;
}
