.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  padding: 0 20px;
}
.bright80 {
  position: fixed;
  background-color: #00000054;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}
.bright80.active {
  pointer-events: initial;
  opacity: 1;
  transition: opacity 0.5s;
}

.header__body {
  margin: 20px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 21px;
  line-height: 114%;
  letter-spacing: -0.02em;
  text-align: center;
}

.header__back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__back-img {
  transform: rotate(180deg);
}
.menu-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.menu-button span::after,
.menu-button span::before {
  content: "";
  position: absolute;
  border-radius: 1px;
  left: 10px;
  width: 14px;
  height: 2px;
  background-color: #000000;
  transition: all 0.5s ease-out;
}
.menu-button span::before {
  top: 13.5px;
}
.menu-button span::after {
  bottom: 13.5px;
}
.menu-button.open span::before {
  transform: rotate(-45deg);
  top: 16px;
}
.menu-button.open span::after {
  transform: rotate(45deg);
  bottom: 16px;
}

.my-addresses {
  width: 100%;
  transition: all 0.5s;
  border-radius: 16px 16px 0 0;
}

.my-addresses__options {
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  width: 100%;
}
.my-addresses__option-address {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
}
.my-addresses__option-radio {
  display: flex;
  position: relative;
}
.my-addresses__option-input {
  display: none;
}
.my-addresses__option {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  position: relative;
  padding: 20px;
  width: 100%;
}
.my-addresses__option-icon {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.my-addresses__option-input:checked + .my-addresses__option-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
}
.option.selected {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.my-addresses__address-input {
  display: none;
}
.my-addresses__option.selected .my-addresses__address-input {
  display: flex;
  gap: 20px;
}
.my-addresses__address-input input {
  width: 100%;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 14px 16px;
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: black;
}

.my-addresses__address-input input::placeholder {
  font-family: "Cera Pro";
  font-size: 15px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: #999999;
}
.my-addresses__save {
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  background: var(--duck);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
  font-family: var(--second-family);
  display: none;
}

.my-addresses__save.active {
  display: block;
}
.my-adresses__delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 15px;
  display: none;
}

.my-addresses__option.selected .my-adresses__delete {
  display: block;
}

.modal-menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  padding: 24px 20px 20px 20px;
  margin: 0 20px;
  width: 351px;
  height: 212px;
  z-index: 3;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: none;
}
.modal-menu.active {
  display: flex;
}
.modal-menu__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--black);
}
.modal-menu__buttons {
  display: flex;
  gap: 11px;
  width: 100%;
}
.modal-menu__delete-button {
  background: var(--duck);
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
.modal-menu__cancel-button {
  border: 1px solid var(--greysticks);
  border-radius: 52px;
  padding: 10px 0px;
  width: 100%;
  height: 40px;
  font-family: var(--second-family);

  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--black);
}
